<strong>Eduagil</strong>  Copyright <strong>2015</strong>  <strong>Cristian Castro V.</strong>
    <p>This program comes with ABSOLUTELY NO WARRANTY. This is free software, and you are welcome to redistribute it under certain conditions; click <a href="http://www.gnu.org/licenses/" target="blank" class="footer-links">here</a> for more details.</p>